include navbar

doctype html 
head
  meta(charset='UTF-8')
  title AmbyAnts
  link(rel='stylesheet' href='/resources/css/main.css')
  script(src='/resources/js/voting.js')
  script(src='/resources/js/editdelete.js')

+navBar(loggedIn)

h1 Home

form(action="/" method="GET")
  select(name="sort")
      option(value="recent") Recently Posted
      option(value="likes") Most Liked
      input(type="submit" value="Go!")

.allPostsContainer
  //- .postContainer
  each post in posts 
    .postContainer
      span.postUser= post.username 
      if username === post.username 
        div.editButtonDiv
          button(id="editButton" onclick="editThePost(this, "+post.post_id+")") Edit
          button(id="deleteButton" onclick="deleteThePost(this, "+post.post_id+")") Delete
      span.postContent(id="post"+post.post_id)= post.content
      .post-upvote-container
        span(id="likeString"+post.post_id)= "Likes: "
        span(id="likes")= post.upvotes
        input(class="likeButton" type="checkbox" class="voteButton" onclick="addLike(this, "+post.upvotes+", "+post.post_id+")")
      .post-downvote-container
        span Dislikes:&nbsp;
        span= post.downvotes

form(action="/" method="GET")
  select(name="page")
    for thing in pages
      option(value=thing)= thing
    input(type="submit" value="Go!")