include navbar

doctype html 
head
  meta(charset='UTF-8')
  title AmbyAnts
  link(rel='stylesheet' href='/resources/css/main.css')
  script(src='/resources/js/voting.js')
  script(src='/resources/js/editdelete.js')

+navBar(loggedIn)

h1 Home

.sortContainer
  form(action="/" method="GET")
    select(class="sortSelect" name="sort" default="Most Liked")
        option(value="recent") Recently Posted
        if sort === "likes"
          option(value="likes" selected) Most Liked
        else 
          option(value="likes") Most Liked
        input(class="goButton" type="submit" value="Go!")

.allPostsContainer
  //- .postContainer
  each post in posts 
    .postContainer
      span.postUser= post.username 
      if username === post.username 
        div.editButtonDiv
          button(id="editButton" onclick="editThePost(this, "+post.post_id+")") Edit
          button(id="deleteButton" onclick="deleteThePost(this, "+post.post_id+")") Delete
      span.postContent(id="post"+post.post_id)= post.content
      .post-upvote-container
        span(id="likes")= post.upvotes
        button(class="likeButton" onclick="addLike(this, "+post.upvotes+", "+post.post_id+")") &#129294

.pageSelectContainer
  form(action="/" method="GET")
    select(class="pageSelect" name="page")
      for thing in pages
        if page === thing
          option(value=thing selected)= thing
        else 
          option(value=thing)= thing
      input(class="goButton" type="submit" value="Go!")